<footer class="footer">            
    <br>
  <h3>M&R</h3>
  <p>Somos una empresa dedicada al desarrollo y solución, de las necesidades de nuestros clientes, con gran dominio de las tecnologias que ofrece el mercado.</p>
  <figure class="Redes">
      <img src="../../assets/Img/Facebook.svg" alt="Facebook" class="imagenRedes">                
      <span>Juan Carlos Morales - Mario Rodriguez</span><br>
      <img src="../../assets/Img/Gmail.svg" alt="Gmail" class="imagenRedes">                
      <span>jmoralesr4@ucentral.edu.co - mrodriguez@ucentral.edu.co</span><br>
      <img src="../../assets/Img/Whatsapp.svg" alt="Whatsapp" class="imagenRedes">                
      <span>301 4661742 - 321 3980142</span>      
  </figure>      
  <br>
</footer>
