.texto{
    width: 300px;
}
.boton{
    width: 100px;
    height: 30px;
    background-color: #FF8F00;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;        
}
.BtnCentro{
    text-align: center;
}

@media screen and (max-width: 580px)
{
    section{
        padding-left: 5%
    }
}