<section class="main row">
    <section class="col-12">
    <br>
    <h3>Ayuda</h3>
  </section>
  <section class="col-1"></section>
  <section class="col-11">
    <ul>
        <li>Si se registro y esta intentando ingresar al sistema, es necesario que el administrador autentique su usuario, después de validar la información registrada.
             Una vez sea autenticado el usuario llegara una notificación vía mail con los datos de acceso.</li>
    </ul>
  </section>
    <br><br>
    <br><br>
    <section class="col-12">
     <section class="BtnCentro">
         <a href="Login.html"><input type="button" value="Volver" class="boton"></a>
     </section>
     <br>
    </section>     
 </section>      