<br><br>
<main class="main">
<section class="row">		
	<section class="col-sm-11 col-md-4"></section>
	<section class="col-sm-11 col-md-4 Centrar">
		<label>Usuario</label><br>
		<input type="text" class="Cajatexto">
	</section>
	<section class="col-sm-11 col-md-4"></section>
	<section class="col-sm-11 col-md-4"></section>
	<section class="col-sm-11 col-md-4 Centrar">
		<label>Contraseña</label><br>
		<input type="password" class="Cajatexto">
	</section>
	<section class="col-sm-11 col-md-4"></section>
	<section class="col-sm-11 col-md-4"></section>
	<section class="col-sm-11 col-md-4 Centrar">
		<a href="Registro.html">Resgistro|</a>
		<a href="RecordarContrasena.html">Recordar Contraseña |</a>
		<a href="Ayuda.html">Ayuda</a>
	</section>	
	<section class="col-sm-11 col-md-4"></section>
	<section class="col-sm-11 col-md-4"></section>
	
	<section class="col-sm-11 col-md-4 Centrar">
		<a href="ConsultarPago.html"><input type="button" value="Aceptar" class="boton"></a>
	</section>
	<section class="col-sm-11 col-md-4"></section>
</section>
</main>       
<br><br>