<br><br>
<section class="row main">		
	<section class="col-sm-11 col-md-4"></section>
	<section class="col-sm-11 col-md-4 Centrar form-group">
		<label>Usuario</label><br>	
		<input type="text" #username name="username" value="jmoralesr4">		
		<span *ngIf="!username" class="invalid-feedback">
            usuario es requerido
        </span>
	</section>
	<section class="col-sm-11 col-md-4"></section>
	<section class="col-sm-11 col-md-4"></section>
	<section class="col-sm-11 col-md-4 Centrar form-group">
		<label>Contraseña</label><br>
		<input type="password" #password name="password" placeholder="Password" value="jmoralesr4">
		<!-- <span *ngIf="password.touched && password.error?.required" class="invalid-feedback">
            clave es requerido
        </span> -->
	</section>
	<section class="col-sm-11 col-md-4"></section>
	<section class="col-sm-11 col-md-4"></section>
	<section class="col-sm-11 col-md-4 Centrar">
		<a href="/Registro">Resgistro|</a>
		<a href="/RecordarContrasena">Recordar Contraseña |</a>
		<a href="/Ayuda">Ayuda</a>
	</section>	
	<section class="col-sm-11 col-md-4"></section>
	<section class="col-sm-11 col-md-4"></section>
	
	<section class="col-sm-11 col-md-4 Centrar form-group">
		<br>	
		<a><input type="submit"  class="boton" (click)="logIn(username.value, password.value, $event)"  value="Aceptar"></a>
		<div class="col-12 error" *ngIf=resultado>
			{{resultado}}
		</div>
	</section>
	<section class="col-sm-11 col-md-4"></section>
</section>
<br><br>